* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.cont-one{
  position: relative;
  height: 100vh;
  background-image: url("media/roma.jpg");
  margin: 20px;
}

.cont-two{
  position: relative;
  height: 100vh;
  background-image: url("media/molise.jpg");
  margin: 20px;
}

.cont-three{
  position: relative;
  height: 100vh;
  background-image: url("media/napoli.jpg");
  margin: 20px;
}

.shadow {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 200px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px #000000;
  text-transform: uppercase;
}
